/*General styles*/
body {
  font-family: sans-serif;
  text-align: center;
  background: #f6dec9;
}

h1,
h4 {
  padding: 10px;
  color: purple;
}

p {
  padding: 10px;
  color: #4f3d40;
  font-size: 16px;
}

.box {
  margin-top: 5px;
}

.logo {
  width: 25%;
  height: 100px;
}

.image {
  background-color: blue;
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

hr {
  border-bottom: 1px solid white;
}
